{% extends 'base.html.twig' %}

{% block title %}Топ фильмов{% endblock %}

{% block body %}
    <h1>Топ фильмов</h1>
    {% if movies %}

        {{- ' ' -}}
        {{ form_start(form, {'attr': {'class': 'date-selector', 'data-controller': 'movie' }}) }}
            {{ form_widget(form) }}
        {{ form_end(form) }}

        <table class="table">
            <thead>
                <tr>
                    <th>Позиция</th>
                    <th>Рейтинг</th>
                    <th>Оригинальное название</th>
                    <th>Год</th>
                    <th>Количество проголосовавших</th>
                </tr>
            </thead>
            <tbody>
            {% for movie in movies %}
                <tr>
                    <td>{{ movie.position }}</td>
                    <td>{{ movie.rating }}</td>
                    <td>{{ movie.title }}</td>
                    <td>{{ movie.year }}</td>
                    <td>{{ movie.count }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}
